# Chapter 7-1: Filtering DataFrames with a Boolean Series

In [3]:
import pandas as pd
pd.options.display.float_format = '{:.1f}'.format

In [4]:
house_path = 'data/kc_house_data.csv'

In [5]:
house_sales = pd.read_csv(house_path)
house_sales.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.0,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5,-122.3,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.2,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7,-122.3,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.0,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7,-122.2,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.0,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5,-122.4,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.0,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6,-122.0,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.5,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.7,-122.0,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.2,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3,-122.3,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.5,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4,-122.3,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.0,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5,-122.3,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.5,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.4,-122.0,2390,7570

## Filter Houses with 3 bedrooms only
A boolean series is a pandas series where either all the values are true or false

In [7]:
house_sales['bedrooms']

0        3
1        3
2        2
3        4
4        3
        ..
21608    3
21609    4
21610    2
21611    3
21612    2
Name: bedrooms, Length: 21613, dtype: int64

In [8]:
house_sales['bedrooms'] == 3

0         True
1         True
2        False
3        False
4         True
         ...
21608     True
21609    False
21610    False
21611     True
21612    False
Name: bedrooms, Length: 21613, dtype: bool

In [9]:
three_bedrooms = house_sales['bedrooms'] == 3

In [10]:
house_sales[three_bedrooms]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.0,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5,-122.3,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.2,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7,-122.3,1690,7639
4,1954400510,20150218T000000,510000.0,3,2.0,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6,-122.0,1800,7503
6,1321400060,20140627T000000,257500.0,3,2.2,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3,-122.3,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.5,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4,-122.3,1650,9711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21603,7852140040,20140825T000000,507250.0,3,2.5,2270,5536,2.0,0,0,...,8,2270,0,2003,0,98065,47.5,-121.9,2270,5731
21604,9834201367,20150126T000000,429000.0,3,2.0,1490,1126,3.0,0,0,...,8,1490,0,2014,0,98144,47.6,-122.3,1400,1230
21607,2997800021,20150219T000000,475000.0,3,2.5,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.6,-122.4,1330,1265
21608,263000018,20140521T000000,360000.0,3,2.5,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.7,-122.3,1530,1509
21611,291310100,20150116T000000,400000.0,3,2.5,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5,-122.1,1410,1287

In [11]:
three_bedrooms_df = house_sales[three_bedrooms]
three_bedrooms_df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0,9824.0
mean,4535884163.4,466232.1,3.0,2.0,1805.8,14414.8,1.4,0.0,0.2,3.4,7.5,1584.4,221.4,1971.8,76.0,98076.5,47.6,-122.2,1835.4,12809.3
std,2874660413.9,262469.8,0.0,0.6,623.1,35652.5,0.6,0.1,0.7,0.6,0.9,573.6,351.4,27.2,382.1,53.7,0.1,0.1,541.4,27249.2
min,1200021.0,82000.0,3.0,0.8,490.0,572.0,1.0,0.0,0.0,1.0,4.0,490.0,0.0,1900.0,0.0,98001.0,47.2,-122.5,399.0,651.0
25%,2085200474.0,295487.5,3.0,1.5,1370.0,5000.0,1.0,0.0,0.0,3.0,7.0,1180.0,0.0,1955.0,0.0,98031.0,47.4,-122.3,1450.0,5001.0
50%,3856904795.0,413000.0,3.0,2.0,1680.0,7629.5,1.0,0.0,0.0,3.0,7.0,1440.0,0.0,1976.0,0.0,98059.0,47.6,-122.2,1720.0,7688.5
75%,7287250116.0,560000.0,3.0,2.5,2110.0,10364.0,2.0,0.0,0.0,4.0,8.0,1830.0,430.0,1993.0,0.0,98117.0,47.7,-122.1,2130.0,9998.0
max,9900000190.0,3800000.0,3.0,4.5,6400.0,843309.0,3.5,1.0,4.0,5.0,13.0,5480.0,2590.0,2015.0,2015.0,98199.0,47.8,-121.3,4950.0,560617.0