# Chapter 7-5: Combining Conditions Using the || Operator

In [1]:
import pandas as pd
pd.options.display.float_format = '{:.1f}'.format

In [2]:
house_path = 'data/kc_house_data.csv'

In [3]:
house_sales = pd.read_csv(house_path)
house_sales.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.0,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5,-122.3,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.2,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7,-122.3,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.0,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7,-122.2,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.0,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5,-122.4,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.0,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6,-122.0,1800,7503

In [4]:
sqft_living = house_sales['sqft_living'] >= 4000
sqft_lot = house_sales['sqft_lot'] >= 12000
bedrroms = house_sales['bedrooms'] >= 5
waterfront = house_sales['waterfront'] == 1

In [5]:
fancy_houses = house_sales[sqft_living | sqft_lot | bedrroms | waterfront]
fancy_houses.head(20)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
5,7237550310,20140512T000000,1225000.0,4,4.5,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.7,-122.0,4760,101930
12,114101516,20140528T000000,310000.0,3,1.0,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.8,-122.2,1780,12697
14,1175000570,20150312T000000,530000.0,5,2.0,1810,4850,1.5,0,0,...,7,1810,0,1900,0,98107,47.7,-122.4,1360,4850
16,1875500060,20140731T000000,395000.0,3,2.0,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7,-122.0,1890,14018
21,2524049179,20140826T000000,2000000.0,3,2.8,3050,44867,1.0,0,4,...,9,2330,720,1968,0,98040,47.5,-122.2,4110,20336
22,7137970340,20140703T000000,285000.0,5,2.5,2270,6300,2.0,0,0,...,8,2270,0,1995,0,98092,47.3,-122.2,2240,7005
36,9435300030,20140528T000000,550000.0,4,1.0,1660,34848,1.0,0,0,...,5,930,730,1933,0,98052,47.7,-122.1,2160,11467
41,7766200013,20140811T000000,775000.0,4,2.2,4220,24186,1.0,0,0,...,8,2600,1620,1984,0,98166,47.4,-122.3,2410,30617
42,7203220400,20140707T000000,861990.0,5,2.8,3595,5639,2.0,0,0,...,9,3595,0,2014,0,98053,47.7,-122.0,3625,5639
45,8035350320,20140718T000000,488000.0,3,2.5,3160,13603,2.0,0,0,...,8,3160,0,2003,0,98019,47.7,-122.0,3050,9232
47,4178300310,20140716T000000,785000.0,4,2.5,2290,13416,2.0,0,0,...,9,2290,0,1981,0,98007,47.6,-122.2,2680,13685
49,822039084,20150311T000000,1350000.0,3,2.5,2753,65005,1.0,1,2,...,9,2165,588,1953,0,98070,47.4,-122.5,2680,72513
51,7231300125,20150217T000000,345000.0,5,2.5,3150,9134,1.0,0,0,...,8,1640,1510,1966,0,98056,47.5,-122.2,1990,9133
54,4217401195,20150303T000000,920000.0,5,2.2,2730,6000,1.5,0,0,...,8,2130,600,1927,0,98105,47.7,-122.3,2730,6000
58,7922800400,20140827T000000,951000.0,5,3.2,3250,14342,2.0,0,4,...,8,3250,0,1968,0,98008,47.6,-122.1,2960,11044
60,1516000055,20141210T000000,650000.0,3,2.2,2150,21235,1.0,0,3,...,8,1590,560,1959,0,98166,47.4,-122.3,2570,18900
68,1274500060,20140825T000000,204000.0,3,1.0,1000,12070,1.0,0,0,...,7,1000,0,1968,0,98042,47.4,-122.1,1010,12635
69,1802000060,20140612T000000,1325000.0,5,2.2,3200,20158,1.0,0,0,...,8,1600,1600,1965,0,98004,47.6,-122.2,3390,20158
70,1525059190,20140912T000000,1040000.0,5,3.2,4770,50094,1.0,0,0,...,11,3070,1700,1973,0,98005,47.7,-122.2,3530,38917
74,3444100400,20150316T000000,349000.0,3,1.8,1790,50529,1.0,0,0,...,7,1090,700,1965,0,98042,47.4,-122.1,1940,50529